<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400' rel='stylesheet' type='text/css'>
    <style>{% include "css/main.css" %}</style>
    <title>{%- if title -%}{{ title }}{%- else -%}Pawsbuddy - Pet care services{%- endif -%}</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Professional cat and dog sitting, and other pet services in the St Albans area{%- endif -%}"/>
    <meta name="keywords" value="cat, cats, dog, dogs, walking, walks, walker, home, sitting, services, care, saint, st, albans, pet, pets">
    <meta name="robots" content="index, follow"/>
  </head>
  <body class="{{ pageClass }}">
  	 <div class="leader">
      <div class="container">
        <ul class="contacts">
          <li data-icon="&#x6d;"><a href="tel:07554671707">07554 671707</a></li>
          <li data-icon="&#x65;"><a href="mailto:info@pawsbuddy.co.uk">info@pawsbuddy.co.uk</a></li>
          <li data-icon="&#x74;"><a href="http://twitter.com/pawsbuddy">pawsbuddy</a></li>
        </ul>
      </div>
    </div>
    <div class="header">
      <div class="container">
      	<h1 class="title"><a href="/" title="Home page">Paws Buddy</a></h1>
      	<p>Pet sitting, dog walking &amp; other pet services in the St Albans area</p>
    	</div>
    	{% include "navigation.njk" %}
    </div>
    <div class="content">
    	<div class="container">
    		{{ content | safe }}
    	</div>
    </div>
    <div class="footer">
			{% include "navigation.njk" %}
			<p>PawsBuddy, {{ site.updated | date("year") }}</p>
    </div>
  </body>
</html>
