<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Paws Buddy - St Albans pet services - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="description" value="Professional cat and dog sitting, and other pet services in the St Albans area">
    <meta name="keywords" value="cat, cats, dog, dogs, walking, walks, walker, home, sitting, services, care, saint, st, albans, pet, pets">
    <meta name="robots" content="index, follow"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-119040-18', 'pawsbuddy.co.uk');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="leader">
      <div class="container">
        <ul>
          <li data-icon="&#x6d;"><a href="tel:07555555555">07555 555 555</a></li>
          <li data-icon="&#x65;"><a href="mailto:info@pawsbuddy.co.uk">info@pawsbuddy.co.uk</a></li>
          <li data-icon="&#x74;"><a href="http://twitter.com/pawsbuddy">pawsbuddy</a></li>
        </ul>
      </div>
    </div>
    <div class="header">
      <div class="container">
        <h1>Paws Buddy</h1>
        <p class="strap">Cat sitting, dog walking &amp; other pet services in the St Albans area</p>
        <ul class="nav">
          <li><a href="">home</a></li>
          <li><a href="">services &amp; prices</a></li>
          <li><a href="">about us</a></li>
          <li><a href="">contact</a></li>
        </ul>
        <a class="enquiry" href="/contact"><p>make an<br /><b>enquiry</b></p></a>
      </div>
    </div>
    <div class="content">
      <div class="container">
      {{ content }}
      </div>
    </div>
    <div class="footer">
      <ul class="contact">
        <li data-icon="&#xe014;">Give Verity a call on <a href="tel:07555555555">07555 555 555</a></li>
        <li data-icon="&#xe012;">Tweet us <a rel="me" href="http://twitter.com/pawsbuddy">@pawsbuddy</a></li>
        <li data-icon="&#xe013;">Email us <a href="mailto:info@pawsbuddy.co.uk" class="email">info  @pawsbuddy.co.uk</a></li>
      </ul>
    </div>
    <div class="base">
        <ul class="nav">
          <li><a href="">home</a></li>
          <li><a href="">services and prices</a></li>
          <li><a href="">about us</a></li>
          <li><a href="">contact</a></li>
        </ul>
    </div>

  </body>
</html>