---
layout: default
title: Cat services
pageClass: cats
---

<h1>Cats, Kittens & Small Animals</h1>
<p>
  We aim to tailor our home pet care package to your specific needs, so that you only pay for what you are getting. Even if you have more than one pet, we will only charge per visit.
</p>

<h2>Why home visits?</h2>
<p>
  Having a home pet carer prevents the stress and medical risks of placing your pet in a cattery or other unfamiliar environment. Staying at home while you are away ensures that your pet keeps its usual routine in familiar surroundings.
</p>

<h2>Home visits</h2>
<p>
	Basic package £10 per visit. This can include:
</p>
<ul>
	<li>Feeding and watering</li>
	<li>Cleaning out litter trays / cage</li>
	<li>Play and cuddle</li>
	<li>Regular updates from your cat via text or email</li>
	<li>Basic housesitting: water plants, pick up post, put out bins, switch lights on/off as required.</li>
</ul>
<p>
	We also offer house sitting, subject to availability and quoted on a case by case basis. Please <a href="/contact">contact us</a> for further details.
</p>

<h2>Contact us</h2>
<p>
  Please <a href="/contact">contact us</a> to discuss your specific requirements, or to arrange a free home visit to meet you and your cat!
</p>

















