---
layout: default
title: Paws Buddy - Pet sitting in St Albans
pageClass: home
---

<h1>We look after your pets, while you take a pause</h1>
<p>
  We are a small, friendly home petcare service established in 2014 and based in St Albans.
</p>
<p>
  Whether you're working long hours or going on holiday, we can walk your dog or visit your home to ensure your pet is cared for while you are away.
</p>

<h2>Over and above</h2>
<p>
  And it’s not just <a href="/cat-services/">cats</a> and <a href="/dog-services/">dogs</a>. We understand the additional care and attention that puppies and kittens need and are happy to create a care package thats caters for this. We can also look after any small caged pets, reptiles, birds or fishtanks in your absence.
</p>
<p>
  As part of our standard pet sitting service, we will provide you with regular updates from your pet - via your choice of text or email - so that you can relax in the knowledge that your pet is happy and well cared for in your absence.
</p>
<p>
  Should your pet need regular medication and/or visits to the vet we are fully insured to do this for you. We believe that maintaining a routine is particularly important for animals that are elderly or in ill health.
</p>
